<h2 class="r-fit-text">History: Rise of "Open Source"</h2>
<table>
  <tbody>
    <tr>
      <th>
        <strong class="primary">1997</strong>
      </th>
      <td>
        &#39;The Cathedral And The Bazaar&#39;
      </td>
    </tr>
    <tr>
      <th>
        <strong class="primary">1998</strong>
      </th>
      <td>
        Netscape Navigator source code is released to the public
      </td>
    </tr>
    <tr>
      <th>
        <strong class="primary">1998</strong>
      </th>
      <td>
        Open Source Initiative founded
      </td>
    </tr>
  </tbody>
</table>