<h2>The Four Essential Freedoms</h2>
<ul>
<li>The freedom to <strong class="primary">run</strong> the program as you wish, for any purpose </li>
<li>The freedom to <strong class="primary">study</strong> how the program works, and <strong class="primary">change</strong> it </li>
<li>The freedom to <strong class="primary">redistribute copies</strong></li>
<li>The freedom to <strong class="primary">distribute copies of your modified versions</strong> to others </li>
</ul>
