<h5>Licenses</h5>
<blockquote>
<p>Prominent FLOSS Licenses 👨‍🎤</p>
<!-- weakly restrictive = weakly protective = weakly copyleft-->
</blockquote>
<img src="img/../../images/licences_overview.png" alt="">