<h2>Philosophy</h2>
<img src="images/open_source_website.jpg" alt="A title on opensource website that asks if the difference with free software matters" style="width:49%">
<img src="images/free_software_website.jpg" alt="A title on GNU website that says free software is better than open source" style="width:49%">
