:root {
  --primary: #d53095;
}

.reveal p {
  text-align: left;
}
.reveal ul {
  display: block;
}
.reveal ol {
  display: block;
}

.reveal li,
.reveal p {
  line-height: 1.2;
  margin-top: 0.5rem;
}

.side-by-side {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.primary {
  color: var(--primary);
}

.m-l-2 {
  margin-left: 2rem;
}
